*{
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* background-image: url(https://darksoul-git.github.io/Blurred%20Side%20Navigation%20bar/windows-11-gradient-background-bloom-light-backgrounds-5k.png); */
  /* background-image: url(./assets/images/bg1.jpeg); */
  background-image: url(https://i.pinimg.com/originals/35/c1/fe/35c1fea40d9ddb71c227dae0dbcf976a.gif);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}